<template>
  <ClientOnly>
    <div class="tip custom-block" v-if="page_filepath">
      <p class="custom-block-title">来源跳转</p>
      <p>
        点击跳转至 Gitlab 在线编辑 :
        <a :href="gitlab_edit_url" target="_blank">{{ page_title }}</a> 。
      </p>
    </div>
  </ClientOnly>
</template>
<script setup lang="ts">
import { gitlab_repository_url } from "./common";
import { useUrlSearchParams } from "@vueuse/core";

const { page_title, page_filepath } = useUrlSearchParams("history");
const gitlab_edit_url = `${gitlab_repository_url}/edit/main/book/${page_filepath}`;
</script>
