<template>
  <div>
    <div>
      <table>
        <tr>
          <th>构建于</th>
          <th>版本号</th>
          <th>Git 分支名</th>
          <th>Git 哈希</th>
        </tr>
        <tr>
          <td>{{ consts.APP_BUILD_TIME }}</td>
          <td>{{ version }}</td>
          <td>{{ consts.APP_GIT_NAME_REV }}</td>
          <td>{{ consts.APP_GIT_HEAD }}</td>
        </tr>
      </table>
      <table>
        <tr></tr>
        <tr></tr>
      </table>
    </div>
    <p>
      欢迎在
      <a :href="homepage">网页版</a> 阅读本书。
    </p>
    <p>
      你也可以点击这里的连接来
      <a :href="homepage + '/health58.pdf'" :download="filename">
        查看或下载
      </a>
      最新版本的 网页版转PDF 文件。
    </p>
  </div>
</template>

<script setup lang="ts">
import { homepage, version } from "../index";
import consts from "../../consts";
import { ref } from "vue";
const filename = ref(
  `健康知识学习实操手册-${new Date()
    .toLocaleString("zh-CN")
    .replaceAll("/", "_")}.pdf`
);
</script>
